<html>
<head>
  <meta charset="UTF-8">
  <title>NEKO</title>
  <link href="assets/style.css" type="text/css" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-1.11.3.min.js" ></script>
</head>
<body>
  <div id="content">
    <div id="top">
      <div id="toptitle">
        <strong><p>今天你的貓掉毛了嗎？</p></strong>
        <p style="font-size:20px;">貓咪掉毛何所似？ 未若柳絮因風起。</p>
      </div>
      <img id="topneco" src="assets/topneco.jpg" alt="">
    </div> <!--top-->
    <div style="margin-bottom:50px;">
      <form method="POST" action="/meow">
        <div style="font-size:1.5em;color:rgb(100, 100, 100);height:60px;margin-top:10px;">請選擇一種貓咳出來的毛球</div>
        <div id="color">
          <div class="mw">
            <img class="mi" src="assets/black.jpg" alt="">
            <input type="radio" name="ico" checked="checked">
          </div>
          <div class="mw">
            <img class="mi" src="assets/purple.jpg" alt="">
            <input type="radio" name="ico">
          </div>
          <div class="mw">
            <img class="mi" src="assets/stone1.jpg" alt="">
            <input type="radio" name="ico">
          </div>
          <div class="mw">
            <img class="mi" src="assets/stone2.jpg" alt="">
            <input type="radio" name="ico">
          </div>

          <div class="mw">
            <img class="mi" src="assets/white.jpg" alt="">
            <input type="radio" name="ico">
          </div>
          <div class="mw">
            <img class="mi" src="assets/wood.jpg" alt="">
            <input type="radio" name="ico">
          </div>
          <div class="mw">
            <img class="mi" src="assets/yellow.jpg" alt="">
            <input type="radio" name="ico">
          </div>
        </div>
          <!-- 回應的地方 -->
        <p>說說你家柳絮吧～<input type="text" style="width:230px;" name="nameid" id="nameid"></p>
        <p><textarea rows="10" cols="50" name="re" id="re"></textarea></p>
        <input type="submit" value="☆" style="width:375px;">
      </form>
    </div>
    <div id="re" style="margin-bottom:50px;background-color:rgb(200, 180, 180);height:auto;">
      <% if (userinfos.length) { %>
        <div>
          <% userinfos.forEach(function(userinfo){ %>
            <div style="margin-top:30px;width:375px;background-color:rgba(255,255,255,0.5);margin:auto;"><h4><%= userinfo['name'] %></h4></div>
            <div style="margin-top:5px;width:375px;background-color:rgba(255,255,255,0.5);margin:auto;"><%= userinfo['words'] %></div>
          <% }) %>
        </div>
      <% } %>
    </div> <!--re-->
  </div> <!--content-->
  <div id="footer">Copyright © 2016</div>
</body>
</html>
